ULTRASprig-backups
~ULTRASprig*
_autosave*
Expansions/FlashBreakout/Flash-backups
Expansions/IMUBreakout/IMUBreakout-backups
Expansions/IOExpander/IOExpander-backups
Expansions/IMUBreakout/~IMUBreakout.kicad_pcb.lck
Expansions/IMUBreakout/~IMUBreakout.kicad_pro.lck
